h1,
h2,
h3,
h4 {
    color: lightseagreen;
}

h1,
h2 {
    border-bottom: 1px solid whitesmoke;
    line-height: 1.2;
    padding-bottom: 0.3em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}
